#bp-finder-modal {
  color: #002857 !important;

  .bp-finder-header {
	color: #002857 !important;
  }

  .bp-finder-btn {
	background-color: #7DC644;
	border-radius: 0;
	color: white;
	transform: none !important;
  }
}

.bp-finder-modal-btn {
  cursor: pointer;
}
